section{
float: left;
margin-left: 0;
width: 10rem;
background-color: #ffc29e;
min-height: 44.3rem;
max-height: max-content;
padding:1%;
border-radius: 0px  77px 0px 0px;
transition: width 1s;
}
section:hover {
  width: 20rem;
}
img{
width: 10rem;
}
.menu{
margin-top: 7rem;
}
div.item{
  display: inline-block;
  margin-left: 7.5rem;
  }
div.item img{
background-color: transparent;
}
div.item p{
  background-color: transparent;
}
body{
    background-color: #ffe6d7;
    display: flex;
}
footer{
  position: fixed;
  left: 52%;
  bottom: 1rem;
  margin: 0 auto;
}
button{
  background-color: #ffc29e;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 1.4rem;
  color:#ffe6d7;
}